<h1>{{helloMsg}}</h1>


<div>
    <a href="index.html#readme">Check out the ReadMe file</a>
</div>


<div class="container">
    <h2>Bootstrap test</h2>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Click to test Bootstrap with jQuery</button>
    <div id="demo" class="collapse">
       Bootstrap with jQuery is working
    </div>
</div>


<div class="container">
    <h2>Service test</h2>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#serviceOutputDiv" ng-click="TestService()">Click to test call to service</button>
    <div id="serviceOutputDiv" class="collapse">
        This is the service output: {{serviceOutput}}
    </div>
</div>

